
@{
    ViewBag.Title = "Create";
}
<link rel="stylesheet" type="text/css" href="../../Scripts/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="../../Scripts/themes/icon.css">
<link rel="stylesheet" type="text/css" href="../../Scripts/demo/demo.css">
<script type="text/javascript" src="../../Scripts/jquery.min.js"></script>
<script type="text/javascript" src="../../Scripts/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../../Scripts/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src=></script>
<link href="~/Content/JQueryTools/uploadify/uploadify.css" rel="stylesheet" type="text/css" />
<h2>Create</h2>


@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>KnolegeModels</legend>
        <div class="editor-label">
            作者：<input name="m_strUserId" class="createKnoledge" name="m_strUserId" />
        </div>
        <div class="editor-label">
            标题：<input name="m_strTitle" class="createKnoledge" />
        </div>
        <div class="editor-label">
            描述：
        </div>
        <div class="editor-label">
            <textarea name="m_strDesc" class="KnoledgeDesc"></textarea>
        </div>
        <div class="editor-label">
            上传日期：<input class="easyui-datebox" name="m_dateUploadTime" data-options="required:true,showSeconds:false"
                value="new Date();" style="width: 150px" />
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
